body {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    background-color: red;
    display: flex;
}

header nav {
    flex: 1;
    height: 30px;
    background-color: green;
    display: flex;
    align-items: stretch;
    gap: 5px;
}

.project {
    flex: 1 1 110px;
}

.project button {
    width: calc(100% - 30px);
    height: 30px;
    margin-right: -5px;
}

.project .delete {
    width: 30px;
}

.new-project {
    min-width: 30px;
    margin-left: 5px;
}

main {
    flex: 1;
    background-color: blue;
}

section {
    background-color: purple;
    padding: 5px 15px;
    display: grid;
    grid-template: 40px / 120px 75px 1fr 75px 25px;
    gap: 15px;
    align-items: center;
}

section * {
    margin: 0;
}

section div {
    width: calc(100vw - 400px);
}

section p, section h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.new-item {
    width: 100vw;
    height: 30px;
}

.container {
    background-color: white;
    height: 50px;
    display: flex;
    visibility: hidden;
    position: absolute;
}

.container button {
    flex: 1;
}

dialog form > * {
    margin: 10px 5px 0 0;
}

label[for='description'] {
    display: block;
}