body {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header, nav {
    background-color: black;
}

button {
    color: white;
    border-color: white;
    background-color: black;
}

header {
    display: flex;
}

header nav {
    flex: 1;
    height: 30px;
    display: flex;
    gap: 2px;
    align-items: stretch;
    padding-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.new-project {
    font-size: 30px;
    padding: 0;
    display: grid;
    align-content: center;
}

.project {
    flex: 1;
    min-width: 50px;
    height: 30px;
    padding: 0 3px 0 5px;
    border: 2px solid white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: flex;
    align-items: center;
}

.project:hover, button:hover {
    background-color: gray;
}

.project label {
    width: calc(100% - 20px);
    user-select: none;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
}

.project button {
    width: 20px;
    height: 20px;
    background-color: transparent;
    margin-left: auto;
    border: 0 transparent;
    border-radius: 50%;
}

.project button:hover {
    background-color: #505050;
}

.new-project {
    width: 30px;
    height: 30px;
    margin-left: 5px;
}

main {
    background-color: black;
    flex: 1;
}

section {
    background-color: #202020;
    padding: 5px 15px;
    display: grid;
    grid-template: 40px / 120px 75px calc(100vw - 390px) 75px 30px;
    gap: 15px;
    align-items: center;
}

section * {
    margin: 0;
}

section label {
    font-size: 15px;
}

section p, section h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

section input {
    width: 30px;
    height: 30px;
}

.new-item {
    font-size: 20px;
    width: 100vw;
    height: 40px;
    position: sticky;
    bottom: 0px;
}

.container {
    width: 100vw;
    visibility: hidden;
    position: fixed;
    bottom: 0px;
}

.container button {
    font-size: 20px;
    width: 50%;
    height: 40px;
}

dialog form > * {
    margin: 10px 5px 0 0;
}

label[for='description'] {
    display: block;
}

button:hover, input:hover, .project:hover, .project label:hover {
    cursor: pointer;
}